/* .mt-5px {
  margin-top: 5px;
}
.mt-10px {
  margin-top: 10px;
}
.mt-15px {
  margin-top: 15px;
}
.mt-20px {
  margin-top: 20px;
}
.mt-25px {
  margin-top: 25px;
}
.mt-30px {
  margin-top: 30px;
}
.mt-35px {
  margin-top: 35px;
}
.mt-40px {
  margin-top: 40px;
}
.mb-10px {
  margin-bottom: 10px;
}
.mb-15px {
  margin-bottom: 15px;
}
.mb-20px {
  margin-bottom: 20px;
}
.mb-25px {
  margin-bottom: 25px;
}
.mb-30px {
  margin-bottom: 30px;
}
.mb-35px {
  margin-bottom: 35px;
}
.mb-40px {
  margin-bottom: 40px;
}
.mb-45px {
  margin-bottom: 45px;
}
.headerModal {
  text-align: center;
}
.txtLang {
  padding-left: 5px;
}
.bg-red {
  background-color: red;
} */
