.bgr {
  background-color: red;
}
.bgg {
  background-color: green;
}
.bgb {
  background-color: blue;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  background-color: #4c4c4c;
}
